body {
  font-family: system-ui, sans-serif;
}

fieldset > div {
  display: grid;
  grid-template-columns: auto auto;
  justify-content: start;
  align-items: center;
  gap: 0.8rem;
  padding-block: 1.2rem;
  font-weight: 700;
}

.message {
  color: #0000FF;
  margin-top: 20px;
  margin-left: 1.2rem;
  font-weight: 200;
}